extends layout

block content
  h1= title

  ul
    each book in bookList
      li
        a(href=book.url) #{book.title}
        |  (#{book.author.firstName} #{book.author.lastName})

    else
      li There are no books.
