extends layout

block content
  h1= title 
  p The library has the following record counts:
    ul
      li #[strong Books:] !{data[0]}
      li #[strong Copies:] !{data[1]}
      li #[strong Copies available:] !{data[2]}
      li #[strong Authors:] !{data[3]}
      li #[strong Genres:] !{data[4]}
